.home-container {
  text-align: center;
  padding: 20px;
}

.heading {
  font-size: 2rem;
  margin-bottom: 20px;
}

.create-list-btn {
  margin-top: 20px;
  margin-bottom: 30px;
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.create-list-btn:hover {
  background-color: #0056b3;
}

.list-containers {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 20px;
}

/* List container styling to make it scrollable */
.list-container {
  width: 300px;
  height: 400px; /* Fixed height */
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow-y: auto; /* Enable vertical scrolling */
  padding: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Style for scrollbar */
.list-container::-webkit-scrollbar {
  width: 8px;
}

.list-container::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.list-container::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Item styling inside list container */
.list-item {
  margin-bottom: 10px;
  padding: 8px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.list-item:hover {
  background-color: #f0f0f0;
}

.list-item span {
  cursor: pointer;
}
