.list-container {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  display: inline-block;
  width: 35%;
  vertical-align: top;
  max-height: 1000px;  /* Fixed height for the list container */
}

.list-container.selected {
  border-color: blue;
}

.list-checkbox {
  margin-right: 10px;
}

.list-items-container {
  max-height: 500px;  /* Max height for the list items section */
  overflow-y: auto;   /* Enable scrolling for the list items */
}

.list-item {
  padding: 5px;
}
